@import "tailwindcss";
@plugin "daisyui";

:root {
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #ffbb38;
  --color-secondary: #0F0F0F80;
}
